.datetitle {
    
    
   
    height:50px;
    color:#5BC3EB;
    
    border-radius: 5px;
}
.title {
    
    
    color:#F06543;
    height:50px;
   
    border-radius: 5px;
    font-family:sans-serif;
}
.desctitle {
    
    
    
    height:50px;
    color: #9BC53D;
    
     border-radius: 5px;
}

